body{
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}
.sectionOne h1, .sectionOne p{
    text-align: center; 
}
.sectionOne h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.sectionOne p{
    font-size: 20px;
    margin-bottom: 50px;
}
.sectionOne{
    margin: 80px auto 20px auto;
    background: url("unnamed.jpg");

}
img{
    width: 60%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
figcaption{
    text-align: center;
    margin-top: 10px;
}
h2{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
ul{
    display: block;
    width: 100%;
    margin-left: 0;
}
li{
    margin: 20px 0;
}
.sectionTwo{
    width: 45%;
    margin: 0 auto;
}
ul{
    margin-bottom: 4em;
}
h3{
    margin-top: 3em;
    text-align: center;
    font-size: 1.5em;
}
.sectionTwo p{
    color: rgb(104, 101, 101);
}
a, a:visited{
    color: rgb(34, 34, 201);
}
a:hover{
    color: purple;
}
a:active{
    background-color: grey;
    color: white
}