*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
header{
    position: fixed;
    width: 100vw;
    height: 9vh;
    top: 0;
    margin: 0;
    padding: 1vw;
    background-color: #eee;
}
header img{
    height: calc(12px + 1.2vw);
    display: inline-block;
    position: fixed;
    left: 1%;
    top: 3%;
}
.nav{
    display: inline-block;
    font-size: calc(12px + .25vw);
    position: fixed;
    right: 5%;
    top: 4%;
    width: 30%;
    padding: 0;
}
.nav span:not(:last-of-type){
    margin-right: 7vw;
}

main{
    width: 100%;
    height: 93vh;
    margin-top: 7vh;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.email h1{
    font-size: calc(12px + .8vw);
    font-weight: 600;
}
.email input{
    border-radius: 2%;
    border: 1px solid black;
    width: 18vw;
    height: 30px;
    margin-top: 6px;
    display: block;
}
#submit{
    width: 10vw;
    margin: 17px auto;
    font-weight: 900;
    background-color: rgb(254, 185, 37);
    border: none;
}
.icons, #features{
    display: inline-block;
}
.icons{
    margin: 5% 0 0 20vw;
    width: 8vw;
}
i{
    display: block;
    width: 100%;
    color: orange
}
i:not(:first-of-type){
    margin-top: 5vw;
}
#features{
    vertical-align: -3px;
    width: 70vw;
}
#features h1{
    font-size: calc(12px + .8vw);
    margin: 0;
}
#features h1:not(:first-of-type){
    margin-top: 5vw;
}
#features p{
    margin: 0;
    font-size: calc(10px + .4vw);
}
#how-it-works{
    margin: 70px 0vw;
    width: 100%;
}
#how-it-works iframe{
    height: 350px;
    width: 650px;
    margin: 0 30%;
}
#pricing{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 3%;
    height: 40vh;
    width: 24vw;
    margin: 0 .8vw;
}
.product button{
    width: 100px;
    height: 35px;
    background-color: orange;
    font-weight: bold;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    margin-top: 10px;
}
li:last-of-type{
    margin-bottom: 30px;
}
footer{
    height: 12vh;
    width: 75%;
    margin: 0 auto;
    background-color: rgba(176, 175, 175, 0.775);
    padding: 10px 30px 15px 0;
}
footer p{
    width: 100%;
    text-align: right;
    margin: 10px 0 10px 0;
}
footer span{
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: black;
}
@media(max-width: 1355px){
    .nav span:not(:last-of-type){
        margin-right: 5vw;
    }
}
@media(max-width: 1155px){
    .nav span:not(:last-of-type){
        margin-right: 4vw;
    }
}
@media(max-width: 955px){
    .nav span:not(:last-of-type){
        margin-right: 3vw;
    }
}
@media(max-width: 855px){
    .nav span:not(:last-of-type){
        margin-right: 2vw;
    }
}
@media(max-width: 775px){
    .nav span:not(:last-of-type){
        margin-right: 1vw;
    }
    .nav{
        font-size: 10px;
        top: 4.5%;
    }
}
@media(max-width: 1360px){
    #features{
        vertical-align: 3px;
    }
}
@media(max-width: 1220px){
    #features h1:not(:first-of-type){
        margin-top: 4vw;
    }
}
@media(max-width: 1000px){
    .icons {
        margin-left: 10vw;
    }
    #features{
        width: 79vw;
    }
}
@media(max-width: 800px){
    .icons {
        margin-left: 1vw;
        margin-right: 10px;
    }
    #features{
        width: 80vw;
        margin-left: 10px;
    }
}
@media(max-width: 1400px){
    #how-it-works iframe{
        margin: 0 25vw;
    }
}
@media(max-width: 1000px){
    #how-it-works iframe{
        margin: 0 20vw;
    }
}
@media(max-width: 800px){
    #how-it-works iframe{
        margin: 0 10vw;
    }
}
@media(max-width: 750px){
    #how-it-works iframe{
        margin: 0 5vw;
    }
}
@media(max-width: 680px){
    #how-it-works iframe{
        margin: 0;
    }
}